<ion-view view-title="Karte">
  <ion-content class="" ng-controller="mapCoordinates">
      <ion-scroll id='map' zooming='true' direction='xy'  style='width: 100vw; height: 100vh; background: #393939; margin-top: -43px; ' class='has-header' min-zoom='1' max-zoom='8'>
          <object id='svgObject' type="image/svg+xml" data="img/24h_Nuerburgring_Nordschleife_Vector.svg">
              <param name="src" value="img/24h_Nuerburgring_Nordschleife_Vector.svg">
          </object>
      </ion-scroll>
  </ion-content>
</ion-view>