<ion-view view-title="Unsere Unterstützer">
    <ion-content>
        <div class="list card">
            <div class="item item-divider">
                Proventa AG
            </div>
            <div class="item item-image">
                <img src="img/proventa.png">
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider bar-positive">
                GPSoverIP
            </div>
            <div class="item item-image">
                <img src="img/gpsoverip.png">
            </div>
        </div>
    </ion-content>
</ion-view>
