<ion-view view-title="Klassenübersicht">
    <ion-content>
        <div class="classwrapper">
            <h3>CUP Klassen</h3>
            <ul style="list-style-type:none">
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">CUP1 - Opel Astra OPC</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">CUP2 - Porsche Carrera</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">CUP4 - TMG GT86</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">CUP5 - BMW M 235i CUP</p></li>
            </ul>
            <h3>Gruppe H</h3>
            <ul style="list-style-type:none">
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">H1 - 1600 ccm</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">H2 - 2000 ccm</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">H3 - </p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">H4 - 6250ccm</p></li>
            </ul>
            <h3>VLN Produktionswagen</h3>
            <ul style="list-style-type:none">
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">V1</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">VT1</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">V2</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">VT2</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">V3</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">VT3</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">V4</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">V5</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">V6</p></li>
            </ul>
            <h3>VLN Specials</h3>
            <ul style="list-style-type:none">
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP1</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP2</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP2T</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP3</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP3T</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP4</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP4T</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP5</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP6</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP7</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP8</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP8T</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SP9</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SPPRO</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">SPX</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">E1-XP1</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">E1-XP2</p></li>
                <li><p class="carclass"><img src="img/pointer.svg" width="25" height="25">E1-XP</p></li>
            </ul>
        </div>
    </ion-content>
</ion-view>
