<ion-view view-title="Info">
  <ion-content>
      <p id="heart">This App is build with <i class="ion-heart" style="color:red"></i>. We hope you appreciate it. </p>
  <div class="classwrapper">
    <h2>CUP Klassen</h2>
    <ul style="list-style-type:none">
        <li><p class="carclass"><img src="img/pointer.png" width="25" height="25">CUP5 - BMW M 235i CUP</p></li>
        <li><p class="carclass"><img src="img/pointer.png" width="25" height="25">SP7 - GT3</p></li>
        <li><p class="carclass"><img src="img/pointer.png" width="25" height="25">CUP5 - BMW M 235i CUP</p></li>
        <li><p class="carclass"><img src="img/pointer.png" width="25" height="25">CUP5 - BMW M 235i CUP</p></li>
    </ul>
  </div>
  <div class="textwrapper">
    <p id="info">Diese App ist in einem sog. "Hackathon" entstanden! Insgesamt benötigten wir 2 1/2 Tage um die App fertig zu stellen. Wir bedanken uns für die Unterstützung von GPSoverIP für die zur Verfügung gestellten Daten sowie bei der Proventa AG für die Räumlichkeiten und Verpflegung über den Zeitraum. Die Entwicklung der App wird weiterhin fortgeführt. Ihr könnt uns Feedback und Featurevorschläge auf www.schwalbenschwaenze.de geben!</p>
  </div>

  </ion-content>
</ion-view>
