<ion-view view-title="Info">
  <ion-content>

      <p id="heart">This App is build with <i class="ion-heart" style="color:red"></i>. We hope you appreciate it. </p>
      <div class="list card">

          <a href="#/tab/cars" class="item item-icon-left">
              <i class="icon ion-android-list"></i>
              Klassenübersicht
          </a>

          <a href="#/tab/supporter" class="item item-icon-left">
              <i class="icon ion-happy-outline"></i>
              Unsere Unterstützer
          </a>
          <a href="#" class="item item-icon-left">
              <i class="icon ion-social-twitter"></i>
              Twitter (Bald Verfügbar...)
          </a>

      </div>
      <div class="textwrapper">
          <p id="info">Diese App ist in einem sog. "Hackathon" entstanden! Insgesamt benötigten wir mit 3 Personen ca. 2 1/2 Tage um die App fertig zu stellen. Wir bedanken uns für die Unterstützung von GPSoverIP für die zur Verfügung gestellten Daten sowie bei der Proventa AG für die Räumlichkeiten und Verpflegung über den Zeitraum. Die Entwicklung der App wird natürlich fortgeführt.</p>
          <p style="text-align: center; color:dimgrey; font-weight: bold;">Ihr könnt uns Feedback und Featurevorschläge über app@schwalbenschwaenze.de geben!</p>
      </div>
  </ion-content>
</ion-view>
